{% include '__bootstrap.html.twig' %}

<div class="container-md">
    <h2>
        Bienvenue sur votre page profil
    </h2>


</div>

 {% for message in app.flashes('add') %}
     <div class="alert alert-success"> {{ message }}</div>
{% endfor %}

 {% for message in app.flashes('modif') %}
     <div class="alert alert-success"> {{ message }}</div>
{% endfor %}

{% for message in app.flashes('deleteAvatar') %}
     <div class="alert alert-success"> {{ message }}</div>
{% endfor %}


<div class="container-md">
    <h5>
        <a href="{{ path('member_space') }}">Retour</a>
    </h5>

</div>

{% for users in user %}



    <div class="container-md">
        <div class="jumbotron">
        

            <div class="container-md">
            {% if profile is defined %}

                <img src="{{ vich_uploader_asset(profile, 'imageFile') }}" height="20%" class="card-img-top"  alt="{{ profile.imageName }}"></img>
                <a href="{{ path('delete_avatar', {'id': app.user.id } )}}">Supprimer votre avatar </a>

            {% endif %}
            </div>
            <div class="row justify-content-center">
                
            <div class="container-md"></div> 
                <div class="col">
                    <h2>Vos informations</h2>
                </div>
            </div>


                <div class="col">

                    {% if profile is not defined  %}
                       
                             <a href="{{ path('avatar', {'username': app.user.username } )}}">Ajouter un avatar </a>
                    {% endif %}


                </div>
                <div class="col">
                   <b> Pseudo </b> :  {{ users.userName }}
                </div>
                <div class="col">
                   <b> Email </b> :  {{ users.email }}
                </div>
{% endfor %}   

                <div class="col">
                {% for role in app.user.roles %}    
                   <b> Role </b> : {{ role }} 
                {% endfor %}
                </div>

                <div class="col">
                    <a href="{{ path('update', {'username': app.user.username } )}}">Modifier mes informations</a>
                </div>
                
            </div>
        
        </div>
    </div>





{% for message in app.flashes('error') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

<div class="container-md">
    <h5>
        <a href="{{ path('profil_delete', {'username': app.user.username }) }}">Supprimer votre profil</a>
    </h5>


</div>


<style>
.card-img-top
{
    width: 20%;
}
</style>