{% include '__bootstrap.html.twig' %}


{% for users in user %}

<div class="container-md">
    <h2>
        Page profil de {{ users.userName }}
    </h2>

{% endfor %}




{% for message in app.flashes('modifRoles') %}
     <div class="alert alert-success"> {{ message }}</div>
{% endfor %}

<div class="container-md">
    <h5>
        <a href="{{ path('member_space') }}">Retour</a>
    </h5>

</div>

{% for users in user %}



    <div class="container-md">
        <div class="jumbotron">
        

            <div class="container-md">
            {% if profile is defined %}

                <img src="{{ vich_uploader_asset(profile, 'imageFile') }}" height="20%" class="card-img-top"  alt="{{ profile.imageName }}"></img>

            {% endif %}
            </div>
            <div class="row justify-content-center">
                
            <div class="container-md"></div> 
                <div class="col">
                    <h2>Ces informations</h2>
                </div>
            </div>


                <div class="col">

                   


                </div>
                <div class="col">
                   <b> Pseudo </b> :  {{ users.userName }}
                </div>
                    {% if is_granted('ROLE_ADMIN') %}
                <div class="col">
                   <b> Email </b> :  {{ users.email }}
                </div>
                    {% else %}
                        Tu n'es pas admin pour voir ça
                    {% endif %}


                <div class="col">
                 
                {% for role in users.roles %}    

                   <b> Role </b> : {{ role }} 
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('update_roles', {'username': users.username }) }}">Modifier son rôle</a>
                    {% endif %}
                {% endfor %}
                </div>

            
            </div>
        
        </div>
    </div>



{% endfor %}   

{% for message in app.flashes('error') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

<div class="container-md">


{% for users in user %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('profil_delete', {'username': users.username }) }}">Supprimer son profil</a>

    {% endif %}

{% endfor %}

</div>


<style>
.card-img-top
{
    width: 20%;
}
</style>