{% include("_nav.html.twig") %} 


{% for articles in article %}
          
          
      <div class="container-page">
      
            <div class="container-img">
                <img src="{{ vich_uploader_asset(articles) }}" class="card-img-top" alt="{{ articles.imageName }}">
            </div>
        </div>


        <div class="container-title">
                <div class="container-title_align">
                    <h2 class="card-title">{{ articles.articleTitle }}</h2>
                </div>
        </div>

        <div class="container-author-date">

            <div class="align-item">
                <div class="container-dateCreated">
                    <p class="card-text">{{ articles.creationDate|date("d/m/Y", "Europe/Paris") }}</p>

                </div>

                <div class="container-author">
                       <p class="card-text">Author</p>

                </div>

                <div class="container-updatedDate">
                    <p class="card-text">{{  articles.updatedDate|date("d/m/Y", "Europe/Paris")  }}</p>

                </div>
            </div>


            </div>
            <div class="container-content-article">
                <div class="article-content">
                        <p>{{ articles.contentArticle }}</p>
                </div>
        </div>
        </div>


    </div>          




<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-3">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('delete_one_news', {'id': articles.id }) }}">Supprimer cet article</a>
            {% endif %}

        </div>

        <div class="col-3">
             <a href="{{ path('home') }}">Retour à la page principal </a>

        </div>
    </div>

</div>

{% endfor %}

<style>
    .container-page
    {
        display: flex;
        flex-direction: column;
    }

    .container-img
    {
        margin: 2%;
    }


    img {
    width: 100%;
    height: 50%;
    }
    .container-title
    {
        display: flex;
        height: 10%;
        margin-left:2%;
        margin-right:2%;

    }
    .container-title_align
    {
        margin: auto;
    }


    .container-author-date
    {
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
    }
    .align-item
    {
        display:flex;
        margin: auto;
        
    }

    .container-author
    {
        margin-left: 2%;
        


    }

    .container-dateCreated p
    {
        font-style: italic;

    }

    .container-author p
    {
        font-weight: bold;

    }
    .container-updatedDate
    {
        margin-left: 1%;


    }

    .container-updatedDate p
    {
        font-style: italic;
        display: flex;

    }


    .container-content-article
    {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
    }

    .article-content
    {
        width: 50%;
        margin: auto;
    }
    .article-content p
    {
        text-align: center;
    }

   

</style>