{% include("_nav.html.twig") %} 

{% block body  %}

 {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


    <div class="container_article">

        
        <div class="container_card">
        {% for articles in article %}
            <div class="card" style="width: 18rem;">
                <img src="{{ vich_uploader_asset(articles) }}" width="18rem" height="20%"class="card-img-top" alt="{{ articles.imageName }}">
                <div class="card-body">
                    <h5 class="card-title">{{ articles.articleTitle }}</h5>
                    <p class="card-text">{{ articles.contentArticle }}</p>
                    <a href="{{  path('article', { 'index':articles.id }) }}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        {% endfor %}

        </div>
        

    </div>

    

{% endblock %}

<style>
.container_search
{
    margin-top: 2%;
    width: 100%;
    position: flex;
}
.container_under
{
    width: 30%;
    margin: auto;
    
}

.container_article
{
    height: 100%;
}
.container_card
{
    display: flex;
    margin: 5%;
    flex-wrap: wrap;
}
.card
{
    margin-top: 2%;
    margin-left: 5%;
}

.card-text
{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
</style>