<h1>Activation de votre compte</p>
<p>Vous avez créé un compte sur notre site, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href="{{ path('registration_confirmation_route', {'token': token}) }}">Activer mon compte</a></p>