{% include "_nav.html.twig" %}


 {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

<div class="container-md">
   
    <div class="row justify-content-center">
        <div class="col-4 ">
            <h2>Page d'inscription</h2>

        </div>
    </div>

    <div class="col-sm">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
            
           
                    {{ form_row(form.username) }}
                


                    {{ form_row(form.password) }}                  
                 </div>
                 <div class="row justify-content-center">
                    <div class="col-3">
                     <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </div>
                 </div>
                 <div class="row justify-content-center">
                    <div class="col-3">
                        <a href="{{ path('member_space') }}">Se connecter</a>                
                    </div>
                 </div>
            
            {{ form_end(form) }}
    </div>

           

    </div>
</div>
   