{% include '__bootstrap.html.twig' %}


<div class="container-md">
        <div class="row justify-content-center">
            <div class="col-3"><h2>Modifier vos informations</h2></div>
        </div>
</div>

<div class="container-md">
        <div class="row justify-content-center">
            <div class="col-3">
                {{ form_start(form) }}

                    {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>
        </div>
</div>
