{% include "_nav.html.twig" %}
{% include "_success_bar.html.twig" %}

{% for message in app.flashes('success') %}
   <div class="alert alert-success">{{  app.flashes('success') }}</div>
{% endfor %}


<div class="container-md">
    <div class="row row-cols-2">
        <div class="col-4"><h5>Espace membre</h5></div>
        <div class="col-4"><h5 >Bienvenue {{ app.user.username }}.</h5></div>
           
        <div class="col-4"><a href="{{ path('app_logoutMember') }}"><h5>Vous déconnectez</h5></a>
    </div>

    </div>

</div>

<div class="container-md">
   <div class="row justify-content-center">
        <ul class="nav">
            <div class="col-6">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('add_news') }}">Ajouter</a>
                </li>
            </div>
            <div class="col-6">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('profil', {'username': app.user.username }) }}">Profil</a>
                </li>
            </div>
               
               
            </ul>
       
   </div>
</div>

<div class="container-md">

    <div class="jumbotron">
      <div class="row">

    {% for article in pagination %}
        <div class="col-sm-3">
        
            <div class="card">
                <img src="{{ vich_uploader_asset(article) }}" height="20%"class="card-img-top" alt="{{ article.imageName }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.articleTitle }}</h5>
                    <p class="card-text">{{ article.contentArticle }}</p>
                    <a href="{{ path('article', {'index':article.id })}}" class="btn btn-primary">Voir l'article</a>
                </div>
            </div>
        </div>
     {% endfor %}


      
       </div>
    </div>
</div>

<div class="container-md">
    <div class="row justify-content-center">
    
        <div class="col-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{ knp_pagination_render(pagination) }}

                </ul>

            </nav>
        </div>
    </div>
    
</div>





<style>
.card-text
{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;

}

</style>