{% if is_granted('ROLE_ADMIN') %}
    {% include 'Admin/index.html.twig' %}
{% endif %}


{% if is_granted('ROLE_USER') %}
    {% if app.user.token != 'null' %}
        {% include 'SpaceMember/signin/verif.html.twig' %}
     {% endif %}

    {% if app.user.token == 'null' %}
         {% include 'SpaceMember/Home/home.html.twig' %}
     {% endif %}
   
{% endif %}
