{% include '__bootstrap.html.twig' %}


<h2>Upload avatar</h2>


<div class="container-md">
        <div class="row justify-content-center">
            <div class="col-3">
                {{ form_start(form) }}

                    {{ form_rest(form) }}
                {{ form_end(form) }}

            </div>
        </div>
</div>
