
{% include "_nav.html.twig" %}
{% include "_success_bar.html.twig" %}

{% for message in app.flashes('success') %}
   <div class="alert alert-success">{{  app.flashes('success') }}</div>
{% endfor %}


 {% for message in app.flashes('updateArticle') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


 {% for message in app.flashes('deleteArticle') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

<div class="container-md">
    <div class="row row-cols-2">
        <div class="col-4"><h5>Espace Admin</h5></div>
        <div class="col-4"><h5 >Bienvenue {{ app.user.username }}, vous êtes sur l'espace admin</h5></div>
           
        <div class="col-4"><a href="{{ path('app_logoutMember') }}"><h5>Vous déconnectez</h5></a>
    </div>

    </div>

</div>

<div class="container-md">
   <div class="row justify-content-center">
        <ul class="nav">
            <div class="col-6">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('add_news') }}">Ajouter</a>
                </li>
            </div>
            <div class="col-6">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('profil', {'username': app.user.username }) }}">Profil</a>
                </li>
            </div>
               
               
            </ul>
       
   </div>
</div>

<div class="container-md">

    <div class="jumbotron">
      <div class="row">

    {% for article in pagination %}
        <div class="col-sm-3">
        
            <div class="card">
                <img src="{{ vich_uploader_asset(article) }}" height="20%"class="card-img-top" alt="{{ article.imageName }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.articleTitle }}</h5>
                    <p class="card-text">{{ article.contentArticle }}</p>
                    <div class="container-md">
                        <div class="row">
                                <a href="{{ path('article', {'index':article.id })}}" class="btn btn-primary btn-sm">Voir l'article</a>
                                <a href="{{ path('updateArticle', {'id':article.id })}}" class="btn btn-primary btn-sm">Modifier </a>
                                <a href="{{ path('deleteOneArticle', {'id':article.id })}}" class="btn btn-primary btn-sm">Supprimer </a>

               
                        </div>
                      
                    </div>
                   
                  
                </div>
            </div>
        </div>
        
     {% endfor %}


      
       </div>
    </div>
</div>

<div class="container-md">
    <div class="row justify-content-center">
    
        <div class="col-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {{ knp_pagination_render(pagination) }}

                </ul>

            </nav>
        </div>
    </div>
    
</div>


<div class="container-md">
    <div class="row justify-content-center">
        <div class="col-3">
            <h4>Journal de bord</h4>
        
        </div>
    
    </div>
</div>

<div class="container-md">
     <div class="jumbotron">

        <div class="row justify-content-center">
                <div class="col">
                     <h2>Derniers articles crées</h2>
 
                            {% for article in lastArticlesCreated %}
                                <a href=" {{ path('article', {'index':article.id }) }}">{{ article.ArticleTitle }} </a> le <b> {{ article.CreationDate|date("m/d/Y") }} ,  </b>
                            {% endfor %}
                      
                <div class="col">
                    <h2>Dernier nouveaux utilisateurs</h2>
                    {% for user in lastUsersRegister %}
                                  [ <a href="{{ path( 'visitor_profil', {'username':user.username })}}"> {{ user.username }} </a> ]
                    {% endfor %}
                
                </div>


                      
                      


                </div>
        </div>

    </div>
</div>



<style>
.card-text
{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;

}

</style>