{% include 'base.html.twig' %}




<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logoutMember') }}">Logout</a>
        </div>
    {% endif %}

     {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

         {% for message in app.flashes('not_access') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}


         {% for message in app.flashes('sup') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    <div class="container-md">

        <div class="row justify-content-center">
            <div class="col-4 ">
                 <h2>Page de connexion</h2>
            </div>
        </div>

        <div class="col-sm">
       
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}">             
                 </div>
                 <div class="row justify-content-center">
                    <div class="col-3">
                        <button class="btn btn-lg btn-primary" type="submit"> Se connecter</button>               

                    </div>
                 </div>
                 <div class="row justify-content-center">
                    <div class="col-2">
                      <a href="{{ path('registration') }}">S'inscrire</a>
                    </div>
                 </div>
            
    </div>
       
</form>