<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    

<div class="container-md">
    <div class="row">           

            <div class="col-10">
                <a class="nav" href="{{path('home')}}">Blog</a>
            </div>

            <div class="col-2">

                {% if app.user %}
                    
                    <a href="{{ path('member_space') }}"">Connecté </a>
                {% endif %}
            
                {% if not app.user %}
                    <a href="{{ path('member_space') }}" ">Se connecter </a>

                {% endif %}

            </div>

    </div>
</div>
    
    
    
    </nav>


<style>

</style>