<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% for message in app.flashes('success') %}

            <div class="alert alert-success ">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong> {{ message }}</strong>
            </div>

{% endfor %}
