{% include "_nav.html.twig" %}



<div class="container-md">
    <h2>Ajouter une news </h2>
</div>

{% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        
<div class="container-md">


    <div class="col-sm">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
                    <div class="form-group">
                        {{ form_row(form.articleTitle) }}
                
                        {{ form_row(form.contentArticle) }}

                        <div id="img">
                        {{ form_row(form.imageFile) }}                  

                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-3">
                        <button type="submit" class="btn btn-primary">Ajouter l'article</button>
                        </div>
                    </div>
                   
                
                {{ form_end(form) }}
        </div>

</div>

